<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">

        <!-- Text input-->
        <div class="form-group">
          <label class="control-label col-sm-2" for="title">Title</label>
          <div class="col-sm-10">
            <input ng-model="photo.title" id="title" name="title" type="text" placeholder="enter a title" class="form-control">

          </div>
        </div>

        <!-- Textarea -->
        <div class="form-group">
          <label class="control-label col-sm-2" for="description">Description</label>
          <div class=" col-sm-10">
            <textarea ng-model="photo.description" class="form-control" id="description" name="description"></textarea>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-2" for="title">Thumbnail url</label>
          <div class="col-sm-10">
            <input ng-model="photo.thumb" id="title" name="title" type="text" placeholder="enter a title" class="form-control">

          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-2" for="title">Full url</label>
          <div class="col-sm-10">
            <input ng-model="photo.url" id="title" name="title" type="text" placeholder="enter a title" class="form-control">

          </div>
        </div>

        </form>



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="saveAndClose()">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
