<div class="restaurants-list container">
  <h1>Restaurants</h1>
  <form ng-submit="save()" name="form" novalidate="" class="thing-form">
    <p class="input-group">
      <input type="text" placeholder="Name" ng-model="newRestaurant.name" class="form-control"/><span class="input-group-btn">
        <input type="submit" value="Add" class="btn btn-primary"/></span>
    </p>
  </form>
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="input-group pull-right col-md-3 col-sm-12">
        <input type="search" ng-model="search" placeholder="Search" class="form-control"/>
        <div dropdown="" on-toggle="toggled(open)" class="dropdown input-group-btn">
          <button dropdown-toggle="" class="btn btn-primary dropdown-toggle">{{ orderProperty==='1' ? 'Ascending' : 'Descending' }}<span class="caret"></span></button>
          <ul role="menu" class="dropdown-menu">
            <li ng-click="orderProperty='1'">Ascending</li>
            <li ng-click="orderProperty='-1'">Descending</li>
          </ul>
        </div>
      </div>


      <div ng-controller="FormController">
        <form sf-schema="schema" sf-form="form" sf-model="model"></form>
      </div>

      <p>Total number of restaurants: {{restaurantsCount.count}}</p>
      <dir-pagination-controls on-page-change="pageChanged(newPageNumber)" class="col-md-12"></dir-pagination-controls>
      <table class="table table-bordered">
        <tbody>
          <tr dir-paginate="restaurant in restaurants | itemsPerPage: perPage" total-items="restaurantsCount.count">
            <td><item-image photo-id="restaurant.photoId"></item-image></td>
            <td><a href="/restaurants/{{restaurant._id}}">{{ ::restaurant.restaurant_name }}</a></td>
            <td>{{::restaurant.score}}</td>
            <td>{{::restaurant.process_description}}</td>
            <td>{{::restaurant.zip_code}}</td>
            <td><toggle-image-picker collection="Restaurants" item-id="restaurant._id" ></toggle-image-picker></td>
          </tr>
        </tbody>
      </table>
      <!-- <ul class="nav nav-tabs nav-stacked col-md-9 col-sm-12">
        <li dir-paginate="restaurant in restaurants | itemsPerPage: perPage" total-items="restaurantsCount.count">
          <p><a href="/restaurants/{{restaurant._id}}">{{ restaurant.restaurant_name }}</a>
            <button ng-click="remove(restaurant)" class="btn">&times;</button>
          </p>
        </li>
      </ul> -->
      <dir-pagination-controls on-page-change="pageChanged(newPageNumber)" class="col-md-12"></dir-pagination-controls>
    </div>
  </div>
  <p>Total number of restaurants: {{restaurantsCount.count}}</p>
</div>
